*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('/assets/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.logo{
    width: 150px;
    height: 57px;
}

ul{
    margin: 0% 20%;
    display: flex;
}

ul li{
    list-style: none;
    padding: 20px;
    margin: 0px 30px;
    font-weight: 900;
    color:rgb(250, 181, 18);
}

.btn{
    padding: 7px 30px;
    color: whitesmoke;
    background-color: rgb(237, 84, 84);
    border: none;
    font-weight: 700;
}
main{
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    margin-top: 80px;
    padding: 30px;
    font-weight: 800;
    font-size: 70px;
    color:rgb(250, 181, 18);

}

.mbtn{
    padding: 10px 50px;
    color: whitesmoke;
    background-color: rgb(237, 84, 84);
    border: none;
    font-weight: 900;
    margin-left: 45%;
}

footer{
    float: right;
    margin-bottom:40px;
}